<!DOCTYPE html>
<head>
    <title>GUYU</title>
    <link rel="stylesheet" href="../Styles/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
</head>
<body>
    <script>
        window.addEventListener("scroll",()=>{
            let header = document.getElementById('topbar');
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            header.style.opacity = 1 - scrollTop / 500;
        })
     </script>
    <div class="topbar" id="topbar">
       
        <div class="logo">
        <img src="../LOGO (1024x1024) 3.png" width="75px" height="75px" alt="logo">
        </div>
        <div class="login">
        <img src="../md-person.svg" width="75px" height="75px" alt="login">
        </div>  
    </div>
   
    <div class="search">
      
      <input style="height:48px; grid-column-start: 1;
      width:50%; border-radius: 35px; border-bottom-right-radius: 0; border-top-right-radius: 0; opacity:0.7;margin-left:54%;
        font-size:15px; border-top:0;border-bottom:0;border-left:0;
      font-weight: bold;" >
      <input type="date" style="height:50px; grid-column-start:2;  width:50%;opacity:0.7; margin-left:7.2%; border-top:0; border-bottom:0">
      <input type="date" style="height:50px; width:50%; opacity:0.7; border-top-right-radius: 35px; grid-column-start: 3; 
      border-bottom-right-radius: 45px; margin-left:-42%; border-top:0; border-bottom:0; border-right:0"
      >
      <i class="fa fa-search" style="grid-column-start:3; margin-top:-8%; margin-left:15%"></i>
      <h1 class="title">Start your adventure!</h1>
    </div>
    <div>
        <h2 class="subtitle">Skip the line!</h2>
    </div>
    <div>
        <h3 class="subtitle">Pick from our most popular cities!</h3>
    </div>
    <div class="cities">
       <div style="width:300px">

       </div>
       
        <div class="cards" >
            <img src="../Santo Domingo.jpg" alt="Santo Domingo" style="height:160px; width:160px; ">
        </div>
        <div class="cards">
        <img src="../Santiago.jpg" alt="Santiago" style="height:160px; width:160px; ">
        </div>
        <div class="cards">
            <img src="../Puerto Plata.jpg" alt="Puerto Plata" style="height:160px; width:160px; ">
        </div>
        <div class="cards">
            <img src="../higuey.jpg" alt="Higuey" style="height:160px; width:160px; ">
        </div>
        <div class="cards">
            <img src="../La Romana.jpg" alt="La Romana" style="height:160px; width:160px; ">
        </div>
    </div>
    <div>
    <div style="background:radial-gradient(#98b5f5,#ffff)">
        <h2 class="subtitle">Get the weekend escapade that you've always wanted!</h2>
        <img src="../couple.jpg" style="width:720px; height:300px; border-radius:35px; display:block; margin-left:auto; margin-right:auto;">
    </div>
    <div class="copyright" style="background:radial-gradient(#98b5f5,#ffff)">
        <div class="col-lg-4" style="background:radial-gradient(#98b5f5,#ffff)">
            <p class="subtitle">Copyright 2024</p>
        </div>
        <div class="col-lg-4" style="background:radial-gradient(#98b5f5,#ffff)">
            <p class="subtitle">branmendo testing front end techniques</p>
        </div>
        <div class="col-lg-4" style="background:radial-gradient(#98b5f5,#ffff)">
            <p class="subtitle">Lorem ipsum dolor amet</p>
        </div>
    </div>
    </div>
</body>